{% extends 'Admin/baseAdmin.html' %} 
{% load static %}


{% block content %}
    <div id="page-content" class="main-content">
        <h3 class="mb-4">Scheduled Appointments</h3>


        <!-- Appointments Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Patient Name</th>
                    <th>Doctor Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- Sample Data Row -->
                {% for appoint in appoint %}
                <tr>
                    <td>{{appoint.id}}</td>
                    <td>{{appoint.user.first_name}}</td>
                    <td>{{appoint.service}}</td>
                    <td>{{appoint.day}}</td>
                    <td>{{appoint.time}}</td>
                    <td>{{appoint.status}}</td>
                </tr>
                <!-- Additional appointment rows would go here -->
                  {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
